
.information{
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    display: block;
    text-align: center;
}
.buttons{
    text-align: center;
    vertical-align: baseline;
    margin: 0 auto;
    
    &__list{
    width: 138px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(199, 196, 196);
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
    margin-bottom: 20px;
    
    }
    &__icons{
        padding-top: 3px;
        padding-right: 5px;
         margin: 0 auto;
        display: inline-block;
        height: 26px;
        padding-left: 6px;
        font-size: 13px;
        color: black;
        font-weight: bold;
        vertical-align: middle;
    }
        &__social-count {
        margin: 0 auto;
        height: 26px;
        font-size: 12px;
        color: black;
        font-weight: bold;
        vertical-align:middle;
        border-left: 0.5px solid  rgb(199, 196, 196);;
        padding-top: 6px;
        padding-bottom: 3px;
        padding-left: 9px;
        padding-right: 15px;
        background-color:white;
        }

}

.revolutionary{
    padding-left: 21px;
    padding-right: 21px;
    &__trial{
    padding-top: 37px;
    padding-bottom: 79px;
    font-size: 14px;
    line-height: 14px;
    color: #848E97;
    }
    &__title{
    font-size: 26px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #635C73;
    padding-bottom: 27px;
    }
    &__description{
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #323232;
    padding-bottom: 36px;
    }
}
@media (min-width: 768px){
.wrapper{
    max-width: 768px;
    margin: 0 auto;
}
.revolutionary{
&__title{
    padding-bottom: 33px;
    font-size: 42px;
    line-height: 42px; 
}
&__description{
    font-size: 21px;
    line-height: 32px;
}
}
}
@media (min-width: 1200px){
    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
    .revolutionary{
    &__title{
    font-size: 54px;
    line-height: 54px;
    padding-bottom: 35px;
    }
    } 
    .buttons{
        padding-bottom: 70px;
    }

}
   
