@import "globals/vars";
@import "globals/mixins";
@import"globals/reset";
<<<<<<< HEAD

@import "src/main/header/header";
@import "src/main/butter/Burger";
@import "src/main/welcome/welcome.scss";
@import "src/main/peoleAreTalking/peoleAreTalking";

*{
=======

* {
>>>>>>> 2a93ded7c75a967f749443141ed1fce3f7279a5b
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
<<<<<<< HEAD

=======
>>>>>>> 2a93ded7c75a967f749443141ed1fce3f7279a5b
a{
  text-decoration: none;
}

@import "information/information";
@import "hwyg/hwyg";
@import "pricing/pricing";
